<div class="main-menu-wrapper" style="margin-left: 160px;">
  <div class="div-title">
      <h5  _ngcontent-aax-c2="" style="font-size: 20pt;text-align: center;font-weight: bold;">Data Tipe Kamar Hotel</h5>
  </div>

  <!-- <a routerLink="/tipe-kamar/tambah" class="btn btn-primary">Tambah data Tipe-Kamar</a> -->

  <button (click)="openEditTipeKamarDialog('add')" class="btn btn-primary"><i class="fas fa-plus"></i>  Tambah Tipe Kamar</button>

  <table class="table tipe-kamar-table table-striped table-bordered text-left">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Nama Tipe</th>
        <th scope="col">Harga</th>
        <th colspan="2" scope="col">Pilihan</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tipekamar of tipekamars | async ; let i = index;">
        <td>{{ i+1 }}</td>
        <td>{{ tipekamar.namaTipe }}</td>
        <td>{{ tipekamar.harga | currency: 0 : 'Rp. '}}</td>
        <td><button (click)="openEditTipeKamarDialog('edit', tipekamar.idTipeKamar, tipekamar.namaTipe)" class="btn btn-primary">Edit</button></td>
        <td><button (click)="openDeleteTipeKamarDialog(tipekamar.idTipeKamar, tipekamar.namaTipe)" class="btn btn-danger" title="Hapus kamar">Hapus</button></td>
        
      </tr>
    </tbody>
  </table>
</div>
