<div class="main-menu-wrapper" style="margin-left: 50px;">
    <div class="div-title">
      <h5>Catat Check-In / Reservasi | Step 2</h5>
    </div>
  
    <h5>Kamar yang anda pilih : No.{{data.noKamar}}</h5>
    <h5>Tipe Kamar : {{data.namaTipe}}</h5>
    <h5>Harga Kamar : ({{data.harga | currency : 0 : "Rp. "}})</h5>

   
    <form (ngSubmit)="onSubmit()" #addTransaksiForm="ngForm" class="w3-container w3-card-4 w3-light-grey w3-text-grey w3-margin ng-pristine ng-invalid ng-touched" novalidate="" style="margin-bottom: 25px;padding-bottom: 15px;">
        <div class="col-sm-7">
        <div class="form-group form-float">
            <label class="form-label">Pilih Tamu</label>
            <select name="selectcustomer" [(ngModel)]="transaksi.idCustomer" #idCustomer="ngModel">
            <option *ngFor="let customer of customers | async" value="{{customer.idCustomer}}">{{customer.namaDepan}} {{customer.namaBelakang}}</option>
            </select>
        </div>
        </div>

         
      <div class="col-sm-7">
        <div class="form-group form-float">
          <label class="form-label">Tanggal Check In</label>
          <input name="checkInDate" type="date" min="{{ data.todayDate | date:'yyyy-MM-dd' }}" class="form-control" [(ngModel)]="transaksi.checkInDate" #checkInDate="ngModel" required>
        </div>
      </div>

      <div class="col-sm-7">
            <div class="form-group form-float">
                <label class="form-label">Jam Check In</label>
                <input name="checkInTime" type="time" class="form-control" [(ngModel)]="transaksi.checkInTime" #checkInTime="ngModel" required>
            </div>
        </div>

      <div class="col-sm-7">
        <div class="form-group form-float">
            <label class="form-label">Tanggal Check Out</label>
            <input name="checkOutDate" type="date" min="{{ data.todayDate | date:'yyyy-MM-dd' }}" class="form-control" [(ngModel)]="transaksi.checkOutDate" #checkOutDate="ngModel" required>
        </div>
    </div>

    <div class="col-sm-7">
        <div class="form-group form-float">
            <label class="form-label">Jam Check Out</label>
                <input name="checkOutTime" type="time" class="form-control" [(ngModel)]="transaksi.checkOutTime" #checkOutTime="ngModel" required>
        </div>
    </div>

    <div class="col-sm-7">
        <div class="form-group form-float">
            <label class="form-label">Pilih Status Check-In</label>
                <select name="selectstatuscheckin" [(ngModel)]="transaksi.idStatusCheck" #idStatusCheck="ngModel" required>
                <option *ngFor="let statuscheck of statuschecks | async" value="{{statuscheck.idStatusCheck}}">{{statuscheck.namaStatus}}</option>
                </select>
        </div>
    </div>
    
    <button type="submit" [disabled]="!addTransaksiForm.form.valid" class="btn btn-info" style="margin-left: 14px;">Simpan</button>
    <button mat-button (click)="batal()" class="btn btn-danger mat-button" mat-button="" style="margin-left: 20px;">Batal</button>
   
    </form>
  </div>
  