<div class="main-menu-wrapper" style="margin-left: 160px;">
  <div class="div-title">
    <h5 _ngcontent-okp-c2="" style="text-align: center;font-weight: bold;font-size: 20pt;">Catat Check-In / Reservasi</h5>
  </div>
   <h5>Step 1 : Silahkan Pilih Kamar dulu</h5>

  <ul *ngFor="let kamar of kamars | async">
      <div class="row">      
          <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3" >
              <div class="card-box noradius noborder bg-info" _ngcontent-lch-c2="" style="height: 200px;"
              (click)="openAddTransaksiLanjutDialog(kamar.idKamar, kamar.noKamar, kamar.tipeKamar.namaTipe, kamar.tipeKamar.harga)">
                  <i class="fa fa-user-o float-right text-white"></i>
                  <h6 class="text-white text-uppercase m-b-20"> No.{{kamar.noKamar}} ({{kamar.tipeKamar.namaTipe}})</h6>
                  <h1 class="m-b-20 text-white counter">{{kamar.tipeKamar.namaTipe}}</h1>
                  <span class="text-white">{{kamar.tipeKamar.harga | currency : 0 : 'Rp. '}}</span>
              </div>
          </div>

           
      </div>
    
    
     
    <!-- <li>
      <div (click)="openAddTransaksiLanjutDialog(kamar.idKamar, kamar.noKamar, kamar.tipeKamar.namaTipe, kamar.tipeKamar.harga)" class="btn btn-primary">{{kamar.noKamar}} | {{kamar.tipeKamar.namaTipe}} | {{kamar.tipeKamar.harga}} ( {{kamar.statusKamar.namaStatusKamar}} )</div>
    </li> -->
  </ul>


  <!-- <form (ngSubmit)="onSubmit()" #addTransaksiForm="ngForm" class="w3-container w3-card-4 w3-light-grey w3-text-grey w3-margin">
    
    <div class="col-sm-7">
      <div class="form-group form-float">
        <label class="form-label">Pilih Tamu</label>
        <input name="noIdentitas" type="number" class="form-control" [(ngModel)]="customers.noIdentitas" #noIdentitas="ngModel" required>
      </div>
    </div>
        
    <div class="col-sm-7">
      <div class="form-group form-float">
        <label class="form-label">Nama Depan</label>
        <input name="namaDepan" type="text" class="form-control" [(ngModel)]="customers.namaDepan" #namaDepan="ngModel" required>
      </div>
    </div>

    <div class="col-sm-7">
        <div class="form-group form-float">
          <label class="form-label">Nama Belakang</label>
          <input name="namaBelakang" type="text" class="form-control" [(ngModel)]="customers.namaBelakang" #namaBelakang="ngModel" required>
        </div>
      </div>
        
    <div class="col-sm-7">
      <div class="form-group form-float">
        <label class="form-label">Nomor telepon</label>
        <input name="noTelp" type="number" class="form-control" [(ngModel)]="customers.noTelp" #noTelp="ngModel" required>
      </div>
    </div>
        
    <div class="col-sm-7">
      <div class="form-group form-float">
        <label class="form-label">Email</label>
        <input name="email" type="email" class="form-control" [(ngModel)]="customers.email" #email="ngModel" required>
      </div>
    </div>
        
    <div class="col-sm-7">
      <div class="form-group form-float">
        <label class="form-label">Alamat</label>
        <input name="alamat" type="text" class="form-control" [(ngModel)]="customers.alamat" #alamat="ngModel" required>
      </div>
    </div>

    <button type="submit" [disabled]="!addTransaksiForm.form.valid" class="btn btn-info">Simpan</button> -->

  <!-- </form> -->
</div>