<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand brand-custom" href="#">PJI Hotel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- <ul class="navbar-nav mr-auto">
     <li class="nav-item"><a class="nav-link" href="#">Check In</a></li>
     <li class="nav-item"><a class="nav-link" href="">Booking</a></li> 
    </ul> -->

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="nav flex-column">
  <a class="nav-link" routerLink="/dashboard">Dashboard</a>
  <a class="nav-link" routerLink="/check-in">Check-In/Booking</a>
  <a class="nav-link" routerLink="/buku-tamu">Buku Tamu</a>
  <a class="nav-link" routerLink="/available-room">Kamar Tersedia</a>
  <a class="nav-link" routerLink="/tipe-kamar">Tipe Kamar</a>
  <a class="nav-link" routerLink="/laporan">Laporan</a>
</nav>