<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand brand-custom" href="#"> Selamat Datang..</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="#" style="color: #C2C9C0;"><i class="fas fa-sign-out-alt"></i>Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="left main-sidebar">

 

<div _ngcontent-dad-c1="" class="sidebar-inner leftscroll">
  <div _ngcontent-dad-c1="" id="sidebar-menu">
    <ul _ngcontent-dad-c1="">
      <li _ngcontent-dad-c1="" class="submenu">
        <img _ngcontent-dad-c1="" class="Logo" src="assets/img/2418252-01.gif">
        <span _ngcontent-dad-c1="" class="title" style="color: #C2B9B0;"> PJI Hotel </span></li>
      <li _ngcontent-dad-c1="" class="submenu"><a _ngcontent-dad-c1="" routerlink="/dashboard"
          ng-reflect-router-link="/dashboard" href="/dashboard"><i _ngcontent-dad-c1="" _ngcontent-rmo-c1=""
            class="fa fa-fw fa-bars" style="color: #C2B9B0;"></i><span _ngcontent-dad-c1="" _ngcontent-rmo-c1=""
            style="color: #C2B9B0;"> Dashboard </span></a></li>

      <li _ngcontent-dad-c1="" class="submenu"><a _ngcontent-dad-c1="" href="#"><i _ngcontent-dad-c1=""
            _ngcontent-rmo-c1="" class="fa fa-key" style="color: #C2B9B0;"></i><span _ngcontent-dad-c1=""
            _ngcontent-rmo-c1="" style="color: #C2B9B0;"> Check-In/Resevasi </span><span _ngcontent-dad-c1=""
            _ngcontent-chy-c1="" class="fas fa-chevron-down" style="margin-left: 10px;"></span></a>
        <ul _ngcontent-dad-c1="" class="list-unstyled" style="display: block;">
          <li _ngcontent-dad-c1=""><a _ngcontent-dad-c1="" routerLink="/check-in-list"> Check-In</a></li>
          <li _ngcontent-dad-c1=""><a _ngcontent-dad-c1="" routerLink="/booking-list"> Reservasi</a></li>
        </ul>
      </li>
      
      <li _ngcontent-dad-c1="" class="submenu ">
        <a _ngcontent-dad-c1="" routerlink="/buku-tamu" ng-reflect-router-link="/buku-tamu" href="/buku-tamu">
          <i _ngcontent-dad-c1="" _ngcontent-rmo-c1=""
            class="fa fa-suitcase" style="color: #C2B9B0;"></i><span _ngcontent-dad-c1="" _ngcontent-rmo-c1=""
            style="color: #C2B9B0;"> Buku Tamu </span></a></li>

      <li _ngcontent-dad-c1="" class="submenu"><a _ngcontent-dad-c1="" href="#"><i _ngcontent-dad-c1=""
            _ngcontent-rmo-c1="" class="fa fa-bed" style="color: #C2B9B0;"></i><span _ngcontent-dad-c1=""
            _ngcontent-rmo-c1="" style="color: #C2B9B0;"> Kamar </span><span _ngcontent-dad-c1="" _ngcontent-chy-c1=""
            class="fas fa-chevron-down" style="margin-left: 90px;"></span></a>

        <ul _ngcontent-dad-c1="" class="list-unstyled" style="display: block;">
          <li _ngcontent-dad-c1=""><a _ngcontent-dad-c1="" routerLink="/kamar"> Lihat Kamar</a></li>
          <li _ngcontent-dad-c1=""><a _ngcontent-dad-c1="" routerLink="/tipe-kamar"> Tipe Kamar</a></li>
           
        </ul>
      </li>
      <li _ngcontent-dad-c1="" class="submenu"><a _ngcontent-dad-c1="" routerLink="/laporan"><i _ngcontent-dad-c1="" _ngcontent-rmo-c1=""
            class="fa fa-book" style="color: #C2B9B0;"></i><span _ngcontent-dad-c1="" _ngcontent-rmo-c1=""
            style="color: #C2B9B0;"> Report </span></a></li>
    </ul>
  </div>
</div>

<!-- 
<nav class="nav flex-column">
  <a class="nav-link" routerLink="/dashboard">Dashboard</a>
  <a class="nav-link" routerLink="/check-in">Check-In/Booking</a>
  <a class="nav-link" routerLink="/buku-tamu">Buku Tamu</a>
  <a class="nav-link" routerLink="/available-room">Available Room</a>
  <a class="nav-link" routerLink="/laporan">Laporan</a>
</nav> -->
<!-- <nav class="navbar navbar-default navbar-fixed-top navbar-expand-lg navbar-dark">
  <a class="navbar-brand brand-custom" href="#">PJI Hotel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- <ul class="navbar-nav mr-auto">
     <li class="nav-item"><a class="nav-link" href="#">Check In</a></li>
     <li class="nav-item"><a class="nav-link" href="">Booking</a></li> 
    </ul> -->
<!-- 
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="nav flex-column">
  <a class="nav-link" routerLink="/dashboard">Dashboard</a>
  <a class="nav-link" routerLink="/check-in-list">Check-In</a>
  <a class="nav-link" routerLink="/booking-list">Booking list</a>
  <a class="nav-link" routerLink="/buku-tamu">Buku Tamu</a>
  <a class="nav-link" routerLink="/kamar">Kamar Tersedia</a>
  <a class="nav-link" routerLink="/tipe-kamar">Tipe Kamar</a>
  <a class="nav-link" routerLink="/laporan">Laporan</a>
</nav> -->