<div class="main-menu-wrapper">
    <div class="div-title">
      <h5>Catat Buku Tamu</h5>
    </div>

    <form (ngSubmit)="onSubmit()" #addCustomerForm="ngForm" class="w3-container w3-card-4 w3-light-grey w3-text-grey w3-margin">
      
      <div class="col-sm-7">
        <div class="form-group form-float">
          <label class="form-label">Nomor Identitas (KTP/SIM)</label>
          <input name="noIdentitas" type="number" class="form-control" [(ngModel)]="customers.noIdentitas" #noIdentitas="ngModel" required>
        </div>
      </div>
          
      <div class="col-sm-7">
        <div class="form-group form-float">
          <label class="form-label">Nama Depan</label>
          <input name="namaDepan" type="text" class="form-control" [(ngModel)]="customers.namaDepan" #namaDepan="ngModel" required>
        </div>
      </div>

      <div class="col-sm-7">
          <div class="form-group form-float">
            <label class="form-label">Nama Belakang</label>
            <input name="namaBelakang" type="text" class="form-control" [(ngModel)]="customers.namaBelakang" #namaBelakang="ngModel" required>
          </div>
        </div>
          
      <div class="col-sm-7">
        <div class="form-group form-float">
          <label class="form-label">Nomor telepon</label>
          <input name="noTelp" type="number" class="form-control" [(ngModel)]="customers.noTelp" #noTelp="ngModel" required>
        </div>
      </div>
          
      <div class="col-sm-7">
        <div class="form-group form-float">
          <label class="form-label">Email</label>
          <input name="email" type="email" class="form-control" [(ngModel)]="customers.email" #email="ngModel" required>
        </div>
      </div>
          
      <div class="col-sm-7">
        <div class="form-group form-float">
          <label class="form-label">Alamat</label>
          <input name="alamat" type="text" class="form-control" [(ngModel)]="customers.alamat" #alamat="ngModel" required>
        </div>
      </div>

      <button type="submit" [disabled]="!addCustomerForm.form.valid" class="btn btn-info">Simpan</button>

    </form>
</div>
