/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* *{
    font-size: 0.9em;
} */
body{
    /* font-size: 0.9em; */
    /* background-color: #EFE2BA; */
    /* background-color: #F13C20; */
    /* background-color: #405A61; */
    /* background-color: #EFE2BA; */
}
.navbar{
    color: white;
    /* background-color: #252525; */
    background-color: #F13C20;
    background-color: #252525;
    height: 50px;
    /* font-size: 0.8em; */
}

.flex-column{
    color: white;
    background-color: #405A61;
    float: left;
    width: 200px;
    bottom: 0px;
    font-size: 0.8em;
}

.nav-link{
    color: white;
}

.main-menu-wrapper{
    margin: 20px;
    margin-left: 140px;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 0.8em;
}