<h4 mat-dialog-title>{{data.action}} data Check-In ID:{{data.idTransaksi}} {{ data.kodeTransaksi}}</h4>

<!-- <form (ngSubmit)="onSubmit(data.idTransaksi)" #editTransaksiForm="ngForm" class="w3-container w3-card-4 w3-light-grey w3-text-grey w3-margin">
<div mat-dialog-content *ngIf="transaksi">
        <div class="col-sm-7">
          <div class="form-group form-float">
            <label class="form-label">Nomor Kamar</label>
            <input name="nomorkamar" type="text" class="form-control" [(ngModel)]="kamar.noKamar" #noKamar="ngModel" required>
          </div>
        </div>

        <div class="col-sm-7">
            <div class="form-group form-float">
              <label class="form-label">Tipe Kamar</label>
              <select name="selecttipekamar" [(ngModel)]="kamar.idTipeKamar" #idTipeKamar="ngModel">
                  <option *ngFor="let tipekamar of tipekamars" value="{{tipekamar.idTipeKamar}}">{{tipekamar.namaTipe}}</option>
              </select>
              </div>
        </div>

        <div class="col-sm-7">
            <div class="form-group form-float">
              <label class="form-label">Status Kamar</label>
              <select name="selectstatuskamar" [(ngModel)]="kamar.idStatusKamar" #idStatusKamar="ngModel">
                  <option *ngFor="let statuskamar of statuskamars" value="{{statuskamar.idStatusKamar}}">{{statuskamar.namaStatusKamar}}</option>
              </select>
              </div>
        </div>
</div> -->

<div mat-dialog-actions>
    <button type="submit" [disabled]="!editKamarForm.form.valid" class="btn btn-info">Simpan</button>  
  <button mat-button (click)="batal()" class="btn btn-danger">Batal</button>
    
    <!-- <button mat-button>Simpan</button> -->
</div>