<div class="main-menu-wrapper">
    <div class="div-title">
        <h5>Check-In / Booking data</h5>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
        <li class="page-item disabled"><a class="page-link" href="" tabindex="-1">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#"></a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>

    <div class="transaksi-div-wrapper container text-center" id="tasksDiv">
        <div class="table-responsive">
          <table class="table table-striped table-bordered text-left">
            <thead>
              <tr>
                <th>No.</th>
                <th>Nama Tamu</th>
                <th>Kamar</th>
                <th>Tanggal Check In</th>
                <th>Waktu Check In</th>
                <th>Tanggal Check Out</th>
                <th>Waktu Check Out</th>
                <th>Status CheckIn/Out</th>
                <th>Total Harga</th>
                <th colspan = "2">Pilihan</th>
    
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="transaksi in transaksis">
                <td>{{transaksi.idTransaksi}}</td>
                <td>{{transaksi.customer.namaCustomer}}</td>
                <td>{{transaksi.kamar.noKamar}}</td>
                <td>{{transaksi.checkInDate | date : "mediumDate" }}</td>
                <td>{{transaksi.checkInTime | date : "HH:mm" }}</td>
                <td>{{transaksi.checkOutDate | date : "mediumDate" }}</td>
                <td>{{transaksi.checkOutTime | date : "HH:mm" }}</td>
                <td>{{transaksi.statusCheck.namaStatus}}</td>
                <td>{{transaksi.totalHarga | currency : "Rp." : 0}}</td>
                <td><a href="edit-transaksi/{{transaksi.idTransaksi}}" id="showEditTrxModal" class="btn btn-primary">Edit</a></td>
						    <td><a href="delete-transaksi/{{transaksi.idTransaksi}}" class="btn btn-danger">Delete</a></td>
              </tr>
            </tbody>
    
    
          </table>
        </div>
      </div>
</div>
